{% extends 'base.html' %}

{% block content %}
<div class="signup-form">
    <h1>Login</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button>Sign Up</button>
    </form>
  </div>
{% endblock content %}
