<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
</head>
<nav>
    {% if user.is_authenticated %}
    
        <a href="{% url "list_accounts" %}">Accounts</a>
        <a href="{% url "create_account" %}">Create Account</a>
        <a href="{% url "list_categories" %}">Category</a>
        <a href="{% url "create_category" %}">Create Category</a>
        <a href="{% url "home" %}">Receipts</a>
        <a href="{% url "create_receipt" %}">Create Receipt</a>
        <a href="{% url "logout" %}">logout</a>
    
    {% else %}
        <a href="{% url "signup" %}">signup</a>
        <a href="{% url "login" %}">login</a>
    {% endif %}
</nav>

<body>
    {% block content %}
    {% endblock content %}
</body>

</html>