{% extends 'base.html' %}

{% block content %}
  <div class="login-form">
    <h1>Create a Receipt</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button>Create</button>
    </form>
  </div>
{% endblock content %}
